{% extends 'wardens/base.html' %}
{% load i18n %}

{% block content %}


<dl  class="dl-horizontal">
  <dt> {% trans 'Title'%}  </dt>
  <dd>{{ incident.title }}</dd>
    
  <dt> {% trans 'Date Created'%} </dt>
  <dd>{{ incident.date_created }}</dd>
    
  <dt> {% trans 'Date Modified'%} </dt>
  <dd>{{ incident.date_modified }}</dd>
    
  <dt> {% trans 'Warden' %} </dt>
  <dd>{{ incident.warden_name }}</dd>
    
  <dt> {% trans 'Senior Warden'%} </dt>
  <dd>{{ incident.senior_warden }}</dd>
    
  <dt> {% trans 'Site'%} </dt>
  <dd>{{ incident.site }}</dd>
    
  <dt> {% trans 'Halls'%} </dt>
  <dd>{{ incident.halls }}</dd>
    
  <dt> {% trans 'Incident Type'%} </dt>
  <dd>{{ incident.incident_type }}</dd>
    
  <dt> {% trans 'Status'%} </dt>
  <dd>{{ incident.Case_Status }}</dd>
    
  <dt> {% trans 'Description'%} </dt>
  <dd>{{ incident.description }}</dd>
    
  <dt> {% trans 'Notes To'%} </dt>
  <dd>{{ incident.notes_to }}</dd>
    
  <dt> {% trans 'Notes By'%} </dt>
  <dd> {{ incident.notes_by }} </dd>
    
  <dt> {% trans 'Warning Issued'%} </dt>
  <dd>{{ incident.warning_issued }}</dd>
    
  <dt> {% trans 'Disciplinary required'%} </dt>
  <dd>{{ incident.Disciplinary_required }}</dd>
    
  <dt> {% trans 'Disciplinary called by'%} </dt>
  <dd>{{ incident.disciplinary_called_by }}</dd>
    
  <dt> {% trans 'Disciplinary date'%} </dt>
  <dd>{{ incident.disciplinary_date }}</dd>
    
  <dt> {% trans 'Student'%} </dt>
  <dd>{{ incident.student }}</dd>
    
  <dt> {% trans 'Accomplices'%} </dt>
  <dd>{{ incident.accomplices }}</dd>
    
  <dt> {% trans 'Complainant'%} </dt>
  <dd>{{ incident.complainant }}</dd>
    
  <dt> {% trans 'Witnesses'%} </dt>
  <dd>{{ incident.witnesses }}</dd>

</dl>

<div class="btn-group" role="group" aria-label="...">

  <a href="{% url 'update' incident.pk %}" type="button" class="btn btn-default">Edit</a>
</div>
{% endblock %}


