{%  extends 'wardens/base.html' %}

{% load i18n %}

{% block content %}
<table class="table table-hover">
 <h1> below is a list of pending disciplinary action </h1>
    <tr>
        <th> {% trans 'Status' %} </td>
        <th> {% trans 'Title' %}  </th>
        <th> {% trans 'Date Created' %} </th>
        <th> {% trans 'Warden Name'%}</th>
        <th> {% trans 'Disciplinary Required' %}</th>
        <th> {% trans 'Disciplinary called by' %}</th>
        <th> {% trans 'Disciplinary date' %}</th>
        <th> {% trans 'View' %}</th>

    </tr>
    {% for item in results %}
<tr>
    <td>{{ item.status }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.date_created }}</td>
    <td>{{ item.warden_name }}</td>
    <td>{{ item.disciplinary_action }}</td>
    <td>{{ item.disciplinary_called_by }}</td>
    <td>{{ item.disciplinary_date }}</td>
    <td><a href="{% url 'detail' item.pk  %}">{% trans 'detail' %}</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}