{%  extends 'wardens/base.html' %}
{% load i18n %}

{% block h1 %}

{% endblock %}

{% block content %}

 <div class="button" style="display: block; text-align: center;line-height: 125px; margin-left: auto; margin-right: auto">
    <h1> {% trans 'Homepage' %} </h1>
    <a href="/wardens/incident/form" style="height: 150px; width: 150px; margin-right: 10px; text-align : center;line-height: 125px " type="button" class="btn btn-default">{% trans 'Incident Report' %}</a>
     <a href="/wardens/required" style="height: 150px; width: 150px; margin-right: 10px;line-height: 125px" type="button" class="btn btn-default">{% trans 'Disciplinary Required' %}</a>
     <a href="/wardens/taken" style="height: 150px; width: 150px; margin-right: 10px;line-height: 125px" type="button" class="btn btn-default">{% trans 'Disciplinary Taken' %}</a>
     <a href="/wardens/cases" style="height: 150px; width: 150px; margin-right: 10px;line-height: 125px " type="button" class="btn btn-default">{% trans 'Cases' %}</a>
</div>
{% endblock %}
