{%  extends 'wardens/base.html' %}
{% block h1 %}

{% endblock %}

{% block content %}
<h1> homepage</h1>

    <a href="/wardens/incident/form" style="height: 150px; width: 150px; margin-right: 10px; text-align: center" type="button" class="btn btn-default">Incident Report</a>
     <a href="#" style="height: 150px; width: 150px; margin-right: 10px;" type="button" class="btn btn-default">Disciplinary Required</a>
     <a href="#" style="height: 150px; width: 150px; margin-right: 10px;" type="button" class="btn btn-default">Disciplinary Taken</a>
     <a href="#" style="height: 150px; width: 150px; margin-right: 10px;" type="button" class="btn btn-default">Closed Cases</a>
{% endblock %}
